{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    
    <footer class="footer">
        <div class="footer__col">
            <h3 class="footer__col--title">Study Buddy</h3>
            <p class="footer__col--content">Find your study partner</p>
        </div>
        <div class="footer__col">
            <h3 class="footer__col--title">Explore</h3>
            <p class="footer__col--content">
            <ul class="footer__menu">
                <li class="footer__menu--item">
                    <a href="home.html" class="footer__menu--item--link">Home</a>
                </li>
                <li class="footer__menu--item">
                <a href="topics.html" class="footer__menu--item--link">Topics</a>
                </li>
                <li class="footer__menu--item">
                    <a href="about.html" class="footer__menu--item--link">About</a>
                </li>
                <li class="footer__menu--item">
                    <a href="contact.html" class="footer__menu--item--link">Contact</a>
                </li>
            </ul>
            </p>
        </div>
        <div class="footer__col">
            <h3 class="footer__col--title"></h3>
            <p class="footer__col--content"></p>
        </div>
        <div class="footer__col">
            <h3 class="footer__col--title"></h3>
            <p class="footer__col--content"></p>
        </div>
    </footer>





<!-- </body>
</html> -->