{% load static %}

<head> 
    <!--styles for footer-->
    <style>
        .footer {
            width: 100%;
            margin-top: auto;
            padding: 1em;
            background-color: #151723;
        }

        .footer__row {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        .footer__menu {
            list-style-type: none;
            display: flex;
            gap: 1.5em;
        }
    </style>
</head>

<!-- the footer at the end of every page -->
<footer class="footer">
    <div class="footer__row">
        <ul class="footer__menu">
            <li class="footer__menu--item">
                <a href="{% url 'home' %}" class="footer__menu--item--link">Home</a>
            </li>
            <li class="footer__menu--item">
                <a href="{% url 'topics' %}" class="footer__menu--item--link">Topics</a>
            </li>
            <li class="footer__menu--item">
                <a href="{% url 'about' %}" class="footer__menu--item--link">About</a>
            </li>
            <li class="footer__menu--item">
                <a href="{% url 'contact' %}" class="footer__menu--item--link">Contact</a>
            </li>
        </ul>
    </div>
    <div class="footer__row below__footer">&copy; 2022 &ensp; StudyWRC &ensp; All rights reserved to "Team StudyWRC".
    </div>
</footer>