/*styles for about.html*/
.about-heading {
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.team-photo-line {
  width: 100%;
  padding: 2.5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5%;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-img {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid transparent;
  background-position-x: center;
}

.person-name {
  margin-bottom: 4px;
}

.person-mail {
  font-size: 13px;
}

#samir-gurung-details>.person-img {
  background-image: url("../images/samir-gurung.jpg");
  background-position: 45% 22%;
  background-size: 150%;
}

#rupesh-ghimire-details>.person-img {
  background-image: url("../images/rupesh-ghimire.jpg");
  background-position: 55% 65%;
  background-size: 250%;
}

#sailesh-ghimire-details>.person-img {
  background-image: url("../images/sailesh-ghimire.jpg");
  background-position: 45% 0;
  background-size: 250%;
}

#sandesh-gc-details>.person-img {
  background-image: url("../images/sandesh-gc.jpg");
  background-size: 150%;
  background-position: 45% 30%;
}