/*styles for about.html*/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 5rem auto;
}

.about-heading {
  text-align: center;
  font-size: 2rem;
}

.about-desc {
  max-width: 100%;
  margin: 1rem auto 2rem auto;
}
.team-row{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.team-photo-line {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px){
  .team-photo-line{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 360px){
  .team-row{
    flex-direction: column;
    align-items: center;
  }
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.person-img {
  width: 15rem;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid transparent;
  background-position-x: center;
}

.person-name {
  margin-bottom: 4px;
}

.person-mail {
  font-size: 13px;
}

#samir-gurung-details>.person-img {
  background-image: url("../images/samir-gurung.jpg");
  background-position: 45% 22%;
  background-size: 150%;
}

#rupesh-ghimire-details>.person-img {
  background-image: url("../images/rupesh-ghimire.jpg");
  background-position: 55% 65%;
  background-size: 250%;
}

#sailesh-ghimire-details>.person-img {
  background-image: url("../images/sailesh-ghimire.jpg");
  background-position: 45% 0;
  background-size: 250%;
}

#sandesh-gc-details>.person-img {
  background-image: url("../images/sandesh-gc.jpg");
  background-size: 150%;
  background-position: 45% 30%;
}