{% extends 'main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'base/about.css' %}" />
{% endblock %}

{% block content %}

    <!-- start of root section -->
    <section class="root">
      <div class="about-container">

        <h1 class="about-heading">Team 'StudyWRC'</h1>
        <p>
          The hardworking and dedicated team behind the development and
          production of the Project <b>StudyWRC</b>! :

        </p>

        <div class="team-photo-line">
          <div class="person" id="samir-gurung-details">
            <div class="person-img"></div>
            <h3 class="person-name">Samir Gurung</h3>
            <div class="person-details">IOE WRC</div>
            <div class="roll-number">PAS076BCT032</div>
            <div class="roll-number">FrontEnd Developer</div>
            <div class="person-mail">sameergurung032@gmail.com</div>
          </div>

          <div class="person" id="rupesh-ghimire-details">
            <div class="person-img" ></div>
            <h3 class="person-name">Rupesh Ghimire</h3>
            <div class="person-details">IOE WRC</div>
            <div class="roll-number">PAS076BCT025</div>
            <div class="roll-number">BackEnd Developer</div>
            <div class="person-mail">rupeshghimire17@gmail.com</div>
          </div>

          <div class="person" id="sailesh-ghimire-details">
            <div class="person-img"></div>
            <h3 class="person-name">Sailesh Ghimire</h3>
            <div class="person-details">IOE WRC</div>
            <div class="roll-number">PAS076BCT030</div>
            <div class="roll-number">BackEnd Developer</div>
            <div class="person-mail">saileshghimire@gmail.com</div>
          </div>

          <div class="person" id="sandesh-gc-details">
            <div class="person-img"></div>
            <h3 class="person-name">Sandesh GC</h3>
            <div class="person-details">IOE WRC</div>
            <div class="roll-number">PAS076BCT033</div>
            <div class="roll-number">FrontEnd Developer</div>
            <div class="person-mail">gcsandesh01@gmail.com</div>
          </div>
        </div>
      </div>
    </section>
    <!--end of root section-->
{% endblock %}
