{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Got any Queries?</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">We are all ears 😀</h2>

        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group form__group">
            <label for="room_name">Full Name</label>
            <input id="full_name" name="full_name" type="text" placeholder="e.g. Lionel Ronaldo" />
          </div>
          <div class="form__group form__group">
            <label for="room_name">Email</label>
            <input id="email" name="email" type="email" placeholder="e.g. Lionelronaldo17@gmail.com" />
          </div>
          <div class=" form__group">
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Enter your message"></textarea>
          </div>
          {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name">{{field.label}}</label>
            {{field}}
          </div>

          {% endfor %}
          <button class="btn btn--main" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}