{% extends 'main.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'base/contact.css' %}" />

{% endblock %}

{% block content %}
    <section class="root">
      <h1 class="contact-title">Got any queries?</h1>
      <div class="contact-msg">
        <p>We are all ears.</p>
        <p>😃</p>
      </div>
      </h2>
      <div class="form-container">
        <form name="contact-form" class="contact-form">
          <div class="form-el">
            <label for="fullname">Full Name</label>
            <input name="fullname" placeholder="Your name" class="fullname-area input-boxes" autocomplete="on"
              minlength="3" maxlength="40" required />
          </div>

          <div class="form-el">
            <label for="email">Email</label>
            <input name="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="Your email"
              class="email-area input-boxes" maxlength="60" autocomplete="on" required />
          </div>
          <div class="form-el">
            <label for="message">Message</label>
            <textarea name="message" placeholder="Your message" class="msg-area input-boxes"></textarea>
          </div>
          <button type="submit" class="submit-btn">SUBMIT</button>
        </form>
        <hr class="vertical-line" />
        <div class="contact-details">
          <h2>StudyBuddy</h2>
          <ul class="social-media-icons-list">
          <li><a href="https://www.facebook.com" target="_blank" class="social-media-icon"><i class="fa-brands fa-facebook-square fa-2x"></i>
          </a></li>
          <li><a href="#" target="_blank" class="social-media-icon"><i class="fa-brands fa-instagram-square fa-2x"></i></a></li>
          <li><a href="#" target="_blank" class="social-media-icon"><i class="fa-brands fa-github-square fa-2x"></i></a></li>
        </ul>
        </div>
      </div>
    </section>
    <!-- <div style="text-align: center; font-size: xx-small;" >All rights reserved.</div> -->
{% endblock %}